.place-container {
    position: relative;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
}

.image-copyright {
    margin: 0;
    transform: rotate(-90deg) translateX(calc(100% + 24px));
    transform-origin: 100% 100%;
    font-size: 15px;
    font-weight: 100;
    color: white;
    opacity: 0.25;
}

.options {
    margin-top: 48px;
}

.button-container {
    &:first-child {
        margin-bottom: 24px;
    }
}

.button {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    svg {
        transform: scale(1);
        transition: transform 0.2s ease-in;        
    }
    &:hover {
        svg {
            transform: scale(1.1);
            transition-duration: 0.3;
            transition-timing-function: ease-out;
            & path:first-child {
                transform: rotate(-360deg);
                transform-origin: 50% 50%;
                transition: transform 0.7s ease-out;
            }    
        }
    }
}